.category-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 3rem;
}

.category-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-swiper .swiper-pagination-bullet{
  width: 0.75rem;
  height: 0.75rem;
}