.react-tabs {
  -webkit-tap-highlight-color: transparent;
  max-width: 1320px;
  width: 91%;
  margin-inline: auto;
}

.react-tabs__tab-list {
  border-bottom: none;
  margin: 0 0 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.react-tabs__tab {
  display: inline-block;
  border: 2px solid transparent;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 0px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  color: #151515;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: #d99904;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid #d99904;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 2px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  /* background: #000; */
}

@media screen and (max-width: 500px) {
  .react-tabs__tab-list {
    gap: 1.25rem;
  }
  .react-tabs__tab {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 350px) {
  .react-tabs__tab-list {
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: start;
  }
}

/* swiper js custom styles */

/* .swiper {
  overflow-x: hidden;
  overflow-y: visible;
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  padding-bottom: 4rem;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #D99904;
}